<% content_for :title do%>About<%end%>
<h3>About Me, the Creator!!</h3>
<p>I'm the shadow of the web, a dark creature who lurks in the night. Etc etc blue etc </p>
<p>Favorite Book</p>
<p>Demo ended</p>